body, html {
	margin: 0;
	padding: 0;
}
body {
	background-image: url(../image/pattern.png);
	background-attachment: fixed;
	background-repeat: repeat;
}
.overlay {
	background-color: rgba(0,0,0,.8);
	position: fixed;
	top: -100px;
	right: -100px;
	left: -100px;
	bottom: -100px;
	z-index: -1;
}
.main {
	display: flex;
	height: 100vh;
	flex-direction: column;
}
.fill {
	flex: 1;
}

.ui.inverted.segment {
	background-color: rgba(0,0,0,0);
}

.icon {
	width: 2em!important;
}

.ui.image {
	border: 3px solid white;
}